@font-face {
	font-family: 'QualiteDeluxePlatinium';
	src: url('fonts/QualiteDeluxePlatinium.eot');
	src: local('QualiteDeluxePlatinium'), url('fonts/QualiteDeluxePlatinium.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu-R';
	src: url('fonts/Ubuntu-R.eot');
	src: local('Ubuntu-R'), url('fonts/Ubuntu-R.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	background: #FFFFFF;
	color: #666;
	font: 16px/28px;
	font-family: "Ubuntu-R", sans-serif;
	line-height: 22px;
}



h1, h2 {
	font-weight: normal;
}

a {
	color: #21aabd;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}


#container {
	margin: 0 auto;
	background: #e2e2e0;
}

#header {
	height: 160px;
	padding: 10px;
	background: white;
}

#header img {
	height: 165px;
	width: auto;
	float: left;
}

#header h1 {
	margin-left: 10px;
	font-family: "QualiteDeluxePlatinium", sans-serif;
	font-size: 50px;
	line-height: 100px;
	float: left;
}

/*** Nav ***/
#lineNav {
	background: #2F2400;
}

#nav {
	margin-left: 126px;
	background: #2F2400;
	color: #fff;
}

#nav a {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
}

#nav .selected {
	background: #9BA500;
	color: #fff;
}

#nav a:hover {
	background: #333;
}


#logo img {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 165px;
	width: auto;
}

#contact-form {
	max-width: 1208px;
	max-width: 75.5 rem;
	margin: 0 auto;
}

#contact, label, input[name="submit"] {
	position: relative;
}
label > span, input, textarea, button {
	box-sizing: border-box;
}
label {
	display: block;
}
label > span {
	display: none;
}
input, textarea, button {
	width: 100%;
	padding: 0.5em;
	border: none;
	font: 300 100%/1.2 Ubuntu, sans-serif;
}
input[type="text"], input[type="email"], textarea {
	margin: 0 0 1em;
	border: 1px solid #ccc;
	outline: none;
}
input.invalid, textarea.invalid {
	border-color: #d5144d;
}
textarea {
	height: 6em;
}
input[type="submit"], button {
	background: #a7cd80;
	color: #333;
}
input[type="submit"]:hover, button:hover {
	background: #91b36f;
}

@media screen and (min-width: 30em) {
	#contact-form h2 {
		margin-left: 26.3736%;
		font-size: 2em;
		line-height: 1.5;
	}
	label > span {
		vertical-align: top;
		display: inline-block;
		width: 26.3736%;
		padding: 0.5em;
		border: 1px solid transparent;
		text-align: right;
	}
	input, textarea, button {
		width: 73.6263%;
		line-height: 1.5;
	}
	textarea {
		height: 10em;
	}
	input[type="submit"], button {
		margin-left: 26.3736%;
	}
}

@media screen and (min-width: 48em) {
	#contact-form {
		text-align: justify;
		line-height: 0;
	}
	#contact-form:after {
		content: '';
		display: inline-block;
		width: 100%;
	}
	#contact-form h2 {
		margin-left: 17.2661%;
	}
	#contact-form form, #contact-form aside {
		vertical-align: top;
		display: inline-block;
		width: 65.4676%;
		text-align: left;
		line-height: 1.5;
	}
	#contact-form aside {
		width: 30.9353%;
	}
}

section {
	background: #e2e2e0;
	float: center;
	width: auto;
	margin-top: -1.5%;
	margin-bottom: 20px;
	margin-left: 40px;
}

article{
	background: #FFFFFF;
}

#description{
	padding-left :105px;
}

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	font-family: "Ubuntu-R", sans-serif;
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}

/* The company logo */

.footer-distributed h3 {
	color: #ffffff;
	font-family: "QualiteDeluxePlatinium", sans-serif;
	font-size: 80px;
	margin: 0;
}

.footer-distributed h3 span {
	font-size: 80px;
	color: #9BA500;
}

/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-distributed .footer-center p a {
	color: #5383d3;
	text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons {
	margin-top: 25px;
}

.footer-distributed .footer-icons a {
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color: #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed {
		font: bold 14px sans-serif;
	}

	.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i {
		margin-left: 0;
	}

}
