@font-face {
	font-family: 'QualiteDeluxePlatinium';
	src: url('fonts/QualiteDeluxePlatinium.eot');
	src: local('QualiteDeluxePlatinium'), url('fonts/QualiteDeluxePlatinium.ttf') format('truetype');
}

@font-face {
	font-family: 'Ubuntu-R';
	src: url('fonts/Ubuntu-R.eot');
	src: local('Ubuntu-R'), url('fonts/Ubuntu-R.ttf') format('truetype');
}

body {
	margin: 0;
	padding: 0;
	background: #e2e2e0;
	color: #666;
	font: 16px/28px;
	font-family: "Ubuntu-R", sans-serif;
	line-height: 22px;
}

h1, h2 {
	font-weight: normal;
}

a {
	color: #9BA500;
	text-decoration: none;
}

a:hover {
	color: #333;
	text-decoration: underline;
}

#container {
	margin: 0 auto;
	background: #fff
}

#header {
	height: 160px;
	padding: 10px;
	background: white;
}

#header img {
	height: 165px;
	width: auto;
	float: left;
}

#header h1 {
	margin-left: 10px;
	font-family: "QualiteDeluxePlatinium", sans-serif;
	font-size: 50px;
	line-height: 100px;
	float: left;
}

/*** Nav ***/
#lineNav {
	background: #2F2400;
}

#nav {
	margin-left: 126px;
	background: #2F2400;
	color: #fff;
}

#nav a {
	color: #fff;
	padding: 15px 20px;
	display: inline-block;
	text-decoration: none;
	text-transform: uppercase;
	/*** font-family:oswald; ***/
}

#nav .selected {
	background: #9BA500;
	color: #fff;
}

#nav a:hover {
	background: #333;
}

#logo img {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 165px;
	width: auto;
}

#tag_line {
	z-index: 100;
	position: absolute;
	top: 40%;
	text-align: left;
	left: 24%;
	font-family: "QualiteDeluxePlatinium", sans-serif;
	color: #FFFFFF;
	font-size: 80px;
	opacity: 0.9;
}

/*** Slider ***/
.slider-wrapper {
	z-index: 0;
	width: auto;
}

.greenStrip {
	margin-top: -1%;
	padding-top: 10px;
	/* background: #FFE0A0; */
	background: #FFFFFF;
}

.greenStrip #descrizione {
	text-align: left;
	text-align: center;
	padding: 50px;
}

.info {
	text-align: center;
	font-size: 16px;
}

.greenStrip .items-eviG {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.greenStrip .item-eviG {
	width: 280px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: top;
	flex-wrap: wrap;
	font-size: 205%;
}

.greenStrip .item-eviG img {
	width: 250px;
	height: 250px;
	border-radius: 50%;
	margin-left: 6%;
}

.items-evi-row {
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
}

.item-evi {
	width: 500px;
	padding: 20px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	flex-wrap: wrap;
	border: 2px solid #666;
}

#mes-full {
	padding: 20px;
	clear: both;
	background: #e2e2e0;
}

section{
	background: #e2e2e0;
	width: auto;
}

article{
	background: #e2e2e0;
	float: left;
	margin-top: 10%;
	margin-left: 40px; 
}

.aboutStrip {
	background: #e2e2e0;
	width: auto;
	height: 700px;
}

.aboutStrip .profiles {
	background: #e2e2e0;
	border-bottom: 0px solid rgba(144, 144, 144, 0.25);
	border-top: 10px solid rgba(144, 144, 144, 0.25);
	
	padding-top: 4em;
}

.aboutStrip .profile {
	background: #e2e2e0;
	text-align: left;
	width: auto;
	width: 30%;
}

.aboutStrip .description {
margin top: 10px;
padding: 50px;
	width: auto;
	text-align: center;
}

.aboutStrip .profile img {
	border-radius: 50%;
	float: left;
	margin-bottom: 1em;
	margin-right: 1em;
	width: 25%
}

.aboutStrip .description h1 {
	color: #FFFFFF
}

.aboutStrip .profile h4 {
	color: #FFFFFF
}

.footer-distributed {
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	font-family: "Ubuntu-R", sans-serif;
	padding: 55px 50px;
	margin-top: 0px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
	width: 40%;
}

/* The company logo */

.footer-distributed h3 {
	color: #ffffff;
	font-family: "QualiteDeluxePlatinium", sans-serif;
	font-size: 80px;
	margin: 0;
}

.footer-distributed h3 span {
	font-size: 80px;
	color: #9BA500;
}

/* Footer links */

.footer-distributed .footer-links {
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a {
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name {
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
	width: 35%;
}

.footer-distributed .footer-center i {
	background-color: #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p {
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin: 0;
}

.footer-distributed .footer-center p span {
	display: block;
	font-weight: normal;
	font-size: 14px;
	line-height: 2;
}

.footer-distributed .footer-center p a {
	color: #9BA500;
	text-decoration: none;;
}

/* Footer Right */

.footer-distributed .footer-right {
	width: 20%;
}

.footer-distributed .footer-company-about {
	line-height: 20px;
	color: #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span {
	display: block;
	color: #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}