@font-face {
    font-family: 'QualiteDeluxePlatinium';
    src: url('QualiteDeluxePlatinium.eot');
    src: local('QualiteDeluxePlatinium'), url('QualiteDeluxePlatinium.ttf') format('truetype');
}

body{
	margin:0;padding:0;
	background: #e2e2e0;
	color: #666;
	font: 16px/28px;
	font-family: "Courier", sans-serif;
	line-height:22px;
}

h1,h2{
	/* text-transform:uppercase; */
	font-weight:normal;
}


a{
	color:#21aabd;
	text-decoration:none;
}

a:hover{
	color:#333;
	text-decoration:underline;
}

#container{
	/* width: 960px; */
	margin: 0 auto;
	background:#fff
}

#header {
	/* width:920px; */
    height:160px;
	padding:10px;
	background:white; /* colore base #21aabd */
    /* line-height:160px;      stessa dimensione del contenitore per centrare tutto in verticale */
}

#header img{
    height: 165px;
    width: auto;
    float: left;
}

#header h1{
    margin-left: 10px;
    font-family:"QualiteDeluxePlatinium", sans-serif;
    font-size:50px;
    line-height:100px;
    float: left;
}

/*** Nav ***/	
#nav {
	/* width:960px; */
	margin-left: 130px;
	background:#453F04;	/* #453F04 */
	color:#fff;
}

#nav .selected {
	/* width:960px; */
	background:#9BA500;
	color:#fff;
}

#nav a{
	color:#fff;
	padding:15px 20px;
	display:inline-block;
	text-decoration:none;
	text-transform:uppercase;
	/*** font-family:oswald; ***/
}

#nav a:hover{background:#333;}

/*** Prova cbnello logo Z-INDEX su slider ***/
#logo img {
	z-index: 100;
	position: absolute;
	top: 0px;
	left: 0px;
	height: 165px;
    width: auto;
}

#titolo {
	z-index: 100;
	position: absolute;
	top: 200px;
	text-align: center;
	left: 80%;
    font-family:"QualiteDeluxePlatinium", sans-serif;
    font-size:50px;
}

#mes-full{
	/*width:920; */
	padding:20px;
	clear:both;
	background: #e2e2e0;
	margin-left: 130px;
}

.items-evi {
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
}

.item-evi {
    width:280px;
	padding:20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-wrap: wrap;
}

/*** Contenuto ***/
#content {
    width:650px;
    padding:20px;
    float:left;
}

#content a:visited {
    text-decoration: none;
    color: #666;
}

#content a:hover {
    text-decoration: none;
    color: #21aabd;
}

#content a:active {
    text-decoration: none;
}

#content .articolo{
    border-bottom:1px solid #eee;
    min-height:190px;
    padding:0px 0 10px 0;
}

#content .articolo img{
    width:22%;
    float:left;
    margin: 0 20px 0 0;
}

#content .last{
    border-bottom:none;
}

/*** Sidebar ***/
#sidebar{
    margin-top: 20px;
    margin-right: 20px;
    border: 2px solid #666;
    width:260px;
    padding:20px;
    float:right;
}

#footer{
    /* width:920px; */
    padding:20px;
    font-size: 10px;
    clear:both;
    background: #666;
    color:#fff
}